RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /ProjetoComprasFatec/index.php/$1 [L] 



#RewriteEngine On
#RewriteBase / 
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
##RewriteRule ^(.*)$ index.php?url=$1
#RewriteRule ^(.*)$ /ProjetoComprasFatec/index.php?url=$1


